@import 'shared';

.button-nav__wrapper, .button-result__wrapper{
    border: none;
    border-radius: 50%;
    width: min(6rem, 25vmin);
    height: min(6rem, 25vmin);
    box-shadow: 0 2px 4px 2px $color-shadow-light;

}
.button-nav__wrapper {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
    margin-inline: 0;
    justify-self: end;

    @media (orientation: landscape) {
        margin-block: 1rem;
        margin-inline: 0;
    }

    @media (min-width: 980px) {
        margin: 1rem;
    }

    &--previous {
        justify-self: start;

        svg {
            transform-origin: center;
            transform: rotate(180deg);
        }
    }

    svg {
        stroke: $color-secondary;
        height: min(5rem, 20vmin);
    }

    &:hover {
        background-color: $color-light;

        svg {
            stroke: $color-black;
        }
    }
}

.button-result__wrapper {
    margin: 1rem;

    &--good {
        justify-self: end;
        background-color: $color-good-light;

        path {
            fill: $color-good;
        }

        &:hover {
            background-color: $color-good;

            path {
                fill: $color-good-light;
            }
        }
    }

    &--bad {
        justify-self: start;
        background-color: $color-bad-light;

        path {
            fill: $color-bad;
        }

        &:hover {
            background-color: $color-bad;

            path {
                fill: $color-bad-light;
            }
        }
    }
}
