@import 'shared';

.learn-card__wrapper {
    position: relative;
    height: 25rem;
    width: 19rem;
    border-radius: 1rem;
    box-shadow: 0 .25rem .5rem $color-shadow;
    display: grid;
    justify-items: center;
    align-items: center;
    color: $color-black;

    @media (orientation: landscape) {
        height: min(19rem, 70vmin);
        width: min(25rem, 50vw);
    }
}

.learn-card__translate {
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 1.5rem;
}

.learn-card__original {
    border-radius: 50%;
    background-color: $color-light;
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}


.quiz-card__wrapper {
    position: relative;
    height: min(25rem, 80vw);
    width: min(19rem, 65vmin);
    border-radius: 1rem;
    box-shadow: 0 .25rem .5rem $color-shadow;
    display: grid;
    justify-items: center;
    align-items: center;
    color: $color-black;

    @media (orientation: landscape) {
        height: min(19rem, 70vmin);
        width: min(25rem, 50vw);
    }
}

.quiz-card__answer {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-black;

    &--hidden {
        background-color: $color-dark;
        color: $color-white;
        cursor: pointer;
    }

    &--original {
        background-color: $color-light;
    }
}
