@import 'shared';

.confirm-dialog__mask {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $color-light;
    opacity: .95;
}

.confirm-dialog__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-width: min(30ch, 70%);
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    font-family: 'Noto Sans';
    font-size: 1.5rem;
    background-color: $color-white;
    box-shadow: 0 .25rem .5rem $color-shadow;
}

.confirm-dialog__message {
    grid-column: 1/-1;
    text-align: center;
    color: $color-dark;
    font-size: inherit;
}

.confirm-dialog__button {
    border: none;
    padding: .5rem;
    border-radius: .25rem;
    font-size: inherit;
    box-shadow: 0 2px 4px 0px $color-shadow-light;

    &--confirm {
        grid-column: 1;
        background-color: $color-dark;
        color: $color-white;
    }

    &--cancel {
        grid-column: 2;
        background-color: $color-secondary;
        color: $color-dark;
    }

    &:hover {
        background-color: $color-black;
        color: $color-white;
    }
}
