@import 'shared';

.index-page__wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "logo theme" "learn learn" "quiz quiz" "continue continue" "settings settings";
    gap: 3rem;
    padding: 1rem;
    height: 95%;

    @media (max-height: 400px) {
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:
            "logo theme" "learn continue" "quiz settings";
        gap: 2rem;

        .index-page__button {
            &--continue-quiz {
                align-self: end;
            }

            &--settings {
                align-self: start;
            }
        }
    }

    @media (min-height: 950px), (min-width: 950px) {
        padding: 2rem;
        height: 90%;
    }
}

.index-page__logo {
    grid-area: logo;

    svg {
        width: 5rem;
        height: 5rem;

        .dark-card {
            fill: $color-dark;
        }

        .mid-card {
            fill: $color-secondary;
        }

        .light-card {
            fill: $color-light;
        }
    }
}

.index-page__theme-toggle {
    grid-area: theme;
    justify-self: end;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    background-color: $color-secondary;
    box-shadow: 0 2px 4px 2px $color-shadow-light;

    svg {
        width: 2rem;
        height: 2rem;
    }

    path {
        fill: $color-white;
    }

    ellipse {
        fill: $color-white;
    }

    &:hover {
        background-color: $color-dark;
    }

    &--dark {
        path {
            fill: $color-dark;
        }

        ellipse {
            fill: $color-dark;
        }

        &:hover {
            background-color: $color-dark;

            path {
                fill: $color-black;
            }

            ellipse {
                fill: $color-black;
            }
        }
    }
}

.index-page__button {
    grid-column: 1/-1;
    justify-self: center;
    background-color: $color-dark;
    color: $color-white;
    width: clamp(7ch, 80%, 30rem);
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 .25rem .5rem $color-shadow;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 2rem;
        aspect-ratio: 1/1;
        margin-inline: -3rem 2rem;
    }

    path {
        fill: $color-dark;
    }

    &:hover {
        background-color: $color-black;
        color: $color-white;
    }

    &--unavailable {
        background-color: $color-light;
        color: $color-secondary;
        box-shadow: none;

        &:hover {
            background-color: $color-secondary;
            color: $color-light;

            path {
                fill: $color-white;
            }
        }
    }

    &--learn {
        grid-area: learn;
        align-self: end;
    }

    &--quiz {
        grid-area: quiz;
        align-self: start;
    }

    &--continue-quiz {
        grid-area: continue;
        align-self: start;
        color: $color-secondary;
    }

    &--settings {
        grid-area: settings;
        align-self: end;
    }
}
