@import 'shared';
@import 'buttons';
@import 'cards';

.learn-page__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "card card" "prev next";
    gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;

    @media (orientation: landscape) {
        grid-template-columns: minmax(auto, 7rem) 1fr minmax(auto, 7rem);
        grid-template-rows: 1fr;
        grid-template-areas:
            "prev card next";

        .learn-card__wrapper {
            margin-top: 0;
        }
    }
}

.result-page__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    svg {
        height: 2rem;
        width: 2rem;
        fill: $color-secondary;
    }

    &:hover {
        svg {
            fill: $color-dark;
        }
    }
}

.learn-card__wrapper {
    grid-area: card;
    margin-top: 2rem;
}

.button-nav__wrapper--previous {
    grid-area: prev;
    align-self: end;
}

.button-nav__wrapper--next {
    grid-area: next;
    align-self: end;
}
