@import 'shared';
@import 'buttons';
@import 'cards';

.quiz-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 3fr 8rem;
    grid-template-areas:
        "progress progress" "question question" "card card" "bad good";
    gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;

    @media (orientation: landscape) {
        grid-template-rows: minmax(auto, 25%) auto minmax(auto, 25%);
        grid-template-columns: minmax(auto, 10rem) auto minmax(auto, 10rem);
        grid-template-areas:
            "progress . ." "progress card question" "bad . good";
    }

    @media (max-height: 450px) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas:
            "progress card question" "bad card good";
    }
}

@media (min-width: 980px) {
    .quiz-page__progress {
        padding-inline: 2rem;
    }

    .button-result__wrapper {
        margin: 2rem;
    }
}

.quiz-page__progress {
    grid-area: progress;
    width: 100%;
    max-width: 25rem;
    align-self: start;
    padding-inline: 1rem;
    margin-top: 1.5rem;

    @media (orientation: landscape) {
        margin-top: 1rem;
        padding-right: 0rem;
    }

    @media (max-width: 450px) {
        width: calc(100% - 7rem);
        margin-inline: 1.5rem;
    }
}

.quiz-page__question {
    grid-area: question;
    color: $color-black;
    font-size: 4rem;
    align-self: end;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--original {
        background-color: $color-light;
    }

    @media (orientation: landscape) {
        align-self: start;
        justify-self: center;
        margin-right: 2vw;
        margin-top: 2rem;
    }
}

.quiz-page__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;

    svg {
        height: 2rem;
        width: 2rem;
        fill: $color-secondary;
    }

    &:hover {
        svg {
            fill: $color-dark;
        }
    }

    @media (orientation: landscape) {
        top: .5rem;
        right: .5rem;
    }

    @media (max-height: 450px), (max-width: 450px) {
        top: .25rem;
        right: .25rem;

        svg {
            fill: $color-light;
        }
    }
}

.quiz-card__wrapper {
    grid-area: card;

    @media (orientation: portrait) {
        align-self: start;
    }
}

.button-result__wrapper {
    align-self: end;
}

.button-result__wrapper--bad {
    grid-area: bad;
    justify-self: start;
}

.button-result__wrapper--good {
    grid-area: good;
    justify-self: end;
}

.quiz-progress__wrapper {
    display: flex;
    flex-direction: column;

    @media (orientation: landscape) {
        flex-direction: column-reverse;

        .quiz-progress__info-wrapper {
            justify-content: flex-start;
        }
    }
}

.quiz-progress__info-wrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.quiz-progress__info {
    color: $color-secondary;
}

.quiz-progress__wrapper {
    width: 100%;
}

.quiz-progress__bar-wrapper {
    height: 1rem;
    width: 100%;
    margin-block: .5rem;
    border-radius: .25rem;
    background-color: $color-light;
}

.quiz-progress__bar {
    height: 100%;
    border-radius: .25rem;
    background-color: $color-secondary;
}
