@import 'shared';

.settings-page__wrapper {
}

.settings-page__header {
    padding: 1rem;
    color: $color-secondary;
    display: flex;
    align-items: center;

    h3 {
        margin: 0 -2.5rem 0 0;
        font-size: 2rem;
        text-align: center;
        flex-grow: 1;
    }
}

.settings-page__close-button {
    border: none;
    background-color: $color-white;
    cursor: pointer;

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    path {
        fill: $color-secondary;
    }

    &:hover {
        path {
            fill: $color-dark;
        }
    }
}

.settings-page__list {
    margin: 0;
    padding: 0;
}

.settings-page__list-item {
    list-style: none;
}

.settings-page__section-header {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    margin: 2px 0;
    padding: .75rem;
    text-align: center;
    background-color: $color-light;
    color: $color-dark;
    stroke: $color-dark;
    font-size: 2rem;
    cursor: pointer;

    svg {
        width: 2rem;
        height: 2rem;
        margin-inline: 1rem;
    }

    span {
        flex-grow: 1;
        margin-right: 4rem;
    }

    &--active {
        background-color: $color-dark;
        color: $color-white;
        stroke: $color-white;

        svg {
            transform: rotate(90deg);
        }
    }

    &:disabled {
        color: $color-secondary;
        stroke: $color-secondary;
    }
}

.learn-options__wrapper {
}

.learn-options__header {
    color: $color-dark;
    font-size: 1.75rem;
    text-align: center;
}

.symbols-list__wrapper {
    display: flex;
    margin-bottom: 1rem;

    &--grid {
        display: grid;
        gap: .5rem;
    }
}

.symbols-list__select-button {
    justify-self: start;
    align-self: start;
    background-color: $color-light;
    border: 1px solid $color-light;
    stroke: $color-secondary;

    svg {
        width: 1rem;
        height: 1rem;
    }

    &:hover {
        background-color: $color-secondary;
        stroke: $color-white;
    }

    &--row {
        grid-column: 1;
        height: 3.5rem;
        border-radius: 0 .5rem .5rem 0;
    }

    &--all {
        grid-column: 2/-1;
        width: calc(100% - .5rem);
        height: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        border-radius: 0 0 .5rem .5rem;

        div {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            transform: rotate(90deg);
        }
    }
}

.symbol-toggle__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-secondary;

    .symbol-toggle__original {
    }

    &--enabled {
        color: $color-black;

        .symbol-toggle__original {
            background-color: $color-light;
        }
    }
}

.symbol-toggle__original {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-light;
    font-size: 2rem;
    cursor: pointer;
}

.symbol-toggle__translate {
    font-size: 1.25rem;
}

.select-course__wrapper {
}

.select-course__list {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.select-course__list-item {
    list-style: none;
    border-bottom: 1px solid $color-secondary;
    cursor: pointer;
    display: flex;

    &:last-child {
        border-bottom: none;
    }
}

.select-course__button {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    width: 100%;
    padding: .5rem 2rem;
    border: none;
    color: $color-dark;
    background-color: $color-white;
    font-size: inherit;
    cursor: pointer;


    svg {
        margin-right: 2.5rem;
        height: 1.5rem;
        justify-self: end;
    }

    span {
        justify-self: start;
    }

    path {
        fill: $color-dark;
    }

    &:hover {
        background-color: $color-light;
    }

    &--active {
        font-weight: bold;
    }

    &--download {
        color: $color-secondary;

        svg {
            height: 2.5rem;
            margin-right: 1.75rem;
        }

        path {
            fill: $color-secondary;
        }
    }

    &--update {
        grid-template-columns: auto;
        width: 4rem;
        margin-left: -4rem;
        padding-inline: .5rem;
        background-color: $color-secondary;

        path {
            fill: $color-white;
        }

        &:hover {
            background-color: $color-dark;
        }
    }
}

.quiz-options__wrapper {
    font-size: 1.75rem;
    color: $color-dark;
}

.quiz-options__section {
    border-bottom: 1px solid $color-secondary;
    text-align: center;

    &--cards {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;

        span {
            grid-column: 1/-1;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

.quiz-options__checkbox {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    width: 100%;
    padding: .5rem 2rem;
    border: none;
    color: $color-dark;
    background-color: $color-white;
    font-size: inherit;
    cursor: pointer;

    svg {
        height: 1.5rem;
        justify-self: end;
        margin-right: 2rem;
    }

    path {
        fill: $color-dark;
    }

    span {
        justify-self: start;
    }

    &:hover {
        background-color: $color-light;
    }

    &--active {
        font-weight: bold;
    }
}

.quiz-options__button {
    margin: .5rem 2rem 1rem 2rem;
    padding: .25rem;
    border: none;
    border-radius: .5rem;
    color: $color-dark;
    background-color: $color-light;
    font-size: inherit;
    cursor: pointer;

    &--active {
        background-color: $color-dark;
        color: $color-white;
    }

    &:hover {
        background-color: $color-secondary;
    }
}

.quiz-options__exclude-header {
    display: block;
    margin-block: .5rem .25rem;
}

.theme-options__wrapper {
    font-size: 1.75rem;
}

.theme-options__section {
    border-bottom: 1px solid $color-secondary;
    text-align: center;

    &:last-child {
        border-bottom: none;
    }
}

.select-color__list {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.select-color__list-item {
    list-style: none;
    border-bottom: 1px solid $color-secondary;
    cursor: pointer;

    &:last-child {
        border: none;
    }
}

.select-color__button {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: .75rem 2rem;
    border: none;
    color: $color-dark;
    background-color: $color-white;
    font-size: inherit;
    cursor: pointer;

    svg {
        margin-right: 2.5rem;
        height: 1.5rem;
        justify-self: end;
    }

    span {
        justify-self: start;
    }

    path {
        fill: $color-dark;
    }

    &:hover {
        background-color: $color-light;

        .colors-preview__color {
            border-block-style: solid;
        }

        .colors-preview__color:first-child {
            border-left-style: solid;
        }

        .colors-preview__color:last-child {
            border-right-style: solid;
        }
    }
}

.colors-preview__wrapper {
    display: flex;
    align-items: center;
}

.colors-preview__color {
    height: 2rem;
    width: 4rem;
    border-style: none;
    border-width: 1px;

    &:first-child {
        border-radius: .5rem 0 0 .5rem;
    }

    &:last-child {
        border-radius: 0 .5rem .5rem 0;
    }
}

.theme-options__checkbox {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    width: 100%;
    padding: .5rem 2rem;
    border: none;
    color: $color-dark;
    background-color: $color-white;
    font-size: inherit;
    cursor: pointer;

    svg {
        height: 1.5rem;
        justify-self: end;
        margin-right: 2rem;
    }

    path {
        fill: $color-dark;
    }

    span {
        justify-self: start;
    }

    &:hover {
        background-color: $color-light;
    }

    &--active {
        font-weight: bold;
    }
}

.select-language__list {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.select-language__list-item {
    list-style: none;
    border-bottom: 1px solid $color-secondary;
}

.select-language__button {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    width: 100%;
    padding: .5rem 2rem;
    border: none;
    color: $color-dark;
    background-color: $color-white;
    font-size: inherit;
    cursor: pointer;

    svg {
        margin-right: 2.5rem;
        height: 1.5rem;
        justify-self: end;
    }

    span {
        justify-self: start;
    }

    path {
        fill: $color-dark;
    }

    &--active {
        font-weight: bold;
    }

    &:hover {
        background-color: $color-light;
    }
}

.data-options__wrapper {
    display: grid;
}

.data-options__button {
    margin: 1rem 2rem;
    padding: .75rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: $color-dark;
    color: $color-white;
    font-family: 'Noto Sans';
    font-size: 2rem;
    cursor: pointer;

    &--restore {
        background-color: $color-secondary;
        color: $color-black;
        margin-top: 2rem;
    }

    &:disabled {
        background-color: $color-light;
        color: $color-white;
        cursor: not-allowed;
    }
}
