$color-black: var(--color-black);
$color-dark: var(--color-dark);
$color-secondary: var(--color-secondary);
$color-light: var(--color-light);
$color-white: var(--color-white);

$color-shadow: var(--color-shadow);
$color-shadow-light: var(--color-shadow-light);

$color-good: var(--color-good);
$color-good-light: var(--color-good-light);
$color-bad: var(--color-bad);
$color-bad-light: var(--color-bad-light);
$color-bad-dark: var(--color-bad-dark);

