$color-black: hsl(215, 60, 20);
$color-dark: hsl(215, 60, 30);
$color-secondary: hsl(215, 60, 80);
$color-light: hsl(215, 60, 97);
$color-white: hsl(0, 100, 100);

$color-shadow: hsla(215, 60, 0, .3);
$color-shadow-light: hsla(215, 60, 0, .15);

$color-good: hsl(128, 50, 80);
$color-good-light: hsl(128, 50, 90);
$color-bad: hsl(0, 50, 80);
$color-bad-light: hsl(0, 50, 90);
