@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&family=Noto+Sans:wght@100;300;400;700&display=swap');

@import 'index-page';
@import 'learn-page';
@import 'quiz-page';
@import 'result-page';
@import 'settings-page';
@import 'loader';
@import 'splash-screen';
@import 'confirm-dialog';
@import 'statistics-page';

:root {
    --color-black: hsl(215, 60%, 20%);
    --color-dark: hsl(215, 60%, 30%);
    --color-secondary: hsl(215, 60%, 80%);
    --color-light: hsl(215, 60%, 97%);
    --color-white: hsl(0, 100%, 100%);
    --color-shadow: Hsla(215, 60%, 0%, .3);
    --color-shadow-light: Hsla(215, 60%, 0%, .15);
    --color-good: hsl(128, 50%, 80%);
    --color-good-light: hsl(128, 50%, 90%);
    --color-bad: hsl(0, 50%, 80%);
    --color-bad-light: hsl(0, 50%, 90%);
    --color-bad-dark: hsl(0, 50%, 50%);
}

* {
    box-sizing: border-box;
    transition: background-color .1s ease, color .1s ease;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

button {
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    margin-inline: auto;
    background-color: $color-white;
    max-width: 800px;
    width: 100%;
}

h3 {
    font-weight: 400;
}

.layout__wrapper {
    min-height: 100vh;
    display: grid;
    background-color: $color-white;

    @media (min-height: 950px), (min-width: 950px) {
        background-color: $color-light;
        padding-block: 5vh;
        padding-inline: min(5%, 5vw);

        main {
            border-radius: .5rem;
            box-shadow: 0rem 0rem 1rem .1rem $color-shadow-light;
        }
    }

    &--hidden {
        background-color: $color-secondary;

        @media (prefers-color-scheme: dark) {
            background-color: $color-dark;
        }

        main {
            visibility: hidden;
        }
    }
}
