@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import 'index-page';
@import 'browse-page';
@import 'check-page';
@import 'options-page';
@import 'loader';

body {
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}

main {
    position: relative;
}
