@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import 'index-page';
@import 'learn-page';
@import 'quiz-page';
@import 'options-page';
@import 'loader';

body {
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}

main {
    position: relative;
    margin-inline: auto;
    background-color: $color-white;
    max-width: 800px;
    width: 100%;
}

.layout__wrapper {
    min-height: 100vh;
    display: grid;
}

@media (min-height: 950px), (min-width: 950px) {
    .layout__wrapper {
        background-color: $color-light;
        padding-block: min(5%, 5vh);
        padding-inline: min(5%, 5vw);
    }

    main {
        border-radius: .5rem;
        box-shadow: 0rem 0rem 1rem .1rem $color-shadow-light;
    }
}
