@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&family=Noto+Sans:wght@100;300;400;700&display=swap");
.index-page__wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo theme" "learn learn" "quiz quiz" "continue continue" "settings settings";
  gap: 3rem;
  padding: 1rem;
  height: 100%;
}
@media (max-height: 400px) {
  .index-page__wrapper {
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "logo theme" "learn continue" "quiz settings";
    gap: 2rem;
  }
  .index-page__wrapper .index-page__button--continue-quiz {
    align-self: end;
  }
  .index-page__wrapper .index-page__button--settings {
    align-self: start;
  }
}
@media (min-height: 950px), (min-width: 950px) {
  .index-page__wrapper {
    padding: 2rem;
    height: 90%;
  }
}

.index-page__logo {
  grid-area: logo;
}
.index-page__logo svg {
  width: 5rem;
  height: 5rem;
}
.index-page__logo svg .dark-card {
  fill: var(--color-dark);
}
.index-page__logo svg .mid-card {
  fill: var(--color-secondary);
}
.index-page__logo svg .light-card {
  fill: var(--color-light);
}

.index-page__theme-toggle {
  grid-area: theme;
  justify-self: end;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px 2px var(--color-shadow-light);
}
.index-page__theme-toggle svg {
  width: 2rem;
  height: 2rem;
}
.index-page__theme-toggle path {
  fill: var(--color-white);
}
.index-page__theme-toggle ellipse {
  fill: var(--color-white);
}
.index-page__theme-toggle:hover {
  background-color: var(--color-dark);
}
.index-page__theme-toggle--dark path {
  fill: var(--color-dark);
}
.index-page__theme-toggle--dark ellipse {
  fill: var(--color-dark);
}
.index-page__theme-toggle--dark:hover {
  background-color: var(--color-dark);
}
.index-page__theme-toggle--dark:hover path {
  fill: var(--color-black);
}
.index-page__theme-toggle--dark:hover ellipse {
  fill: var(--color-black);
}

.index-page__button {
  grid-column: 1/-1;
  justify-self: center;
  background-color: var(--color-dark);
  color: var(--color-white);
  width: clamp(7ch, 80%, 30rem);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-page__button svg {
  height: 2rem;
  aspect-ratio: 1/1;
  margin-inline: -3rem 2rem;
}
.index-page__button path {
  fill: var(--color-dark);
}
.index-page__button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.index-page__button--unavailable {
  background-color: var(--color-light);
  color: var(--color-secondary);
  box-shadow: none;
}
.index-page__button--unavailable:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
}
.index-page__button--unavailable:hover path {
  fill: var(--color-white);
}
.index-page__button--learn {
  grid-area: learn;
  align-self: end;
}
.index-page__button--quiz {
  grid-area: quiz;
  align-self: start;
}
.index-page__button--continue-quiz {
  grid-area: continue;
  align-self: start;
  color: var(--color-secondary);
}
.index-page__button--settings {
  grid-area: settings;
  align-self: end;
}

.button-nav__wrapper, .button-result__wrapper {
  border: none;
  border-radius: 50%;
  width: min(6rem, 25vmin);
  height: min(6rem, 25vmin);
  box-shadow: 0 0 8px 1px var(--color-shadow-light);
}

.button-nav__wrapper {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  margin-inline: 0 1rem;
  justify-self: end;
  cursor: pointer;
}
.button-nav__wrapper--previous {
  justify-self: start;
  margin-inline: 1rem 0;
}
.button-nav__wrapper--previous svg {
  transform-origin: center;
  transform: rotate(180deg);
}
.button-nav__wrapper svg {
  stroke: var(--color-secondary);
  height: min(5rem, 20vmin);
}
.button-nav__wrapper:hover {
  background-color: var(--color-light);
}
.button-nav__wrapper:hover svg {
  stroke: var(--color-black);
}
@media (orientation: landscape) {
  .button-nav__wrapper {
    margin-block: 1rem;
  }
}
@media (min-width: 980px) {
  .button-nav__wrapper {
    margin: 2rem;
  }
}

.button-result__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}
.button-result__wrapper--good {
  justify-self: end;
  background-color: var(--color-good-light);
}
.button-result__wrapper--good path {
  fill: var(--color-good);
}
.button-result__wrapper--good:hover {
  background-color: var(--color-good);
}
.button-result__wrapper--good:hover path {
  fill: var(--color-good-light);
}
.button-result__wrapper--bad {
  justify-self: start;
  background-color: var(--color-bad-light);
}
.button-result__wrapper--bad path {
  fill: var(--color-bad);
}
.button-result__wrapper--bad:hover {
  background-color: var(--color-bad);
}
.button-result__wrapper--bad:hover path {
  fill: var(--color-bad-light);
}

.learn-card__wrapper {
  position: relative;
  height: 25rem;
  width: 19rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--color-black);
}
@media (orientation: landscape) {
  .learn-card__wrapper {
    height: min(19rem, 70vmin);
    width: min(25rem, 50vw);
  }
}

.learn-card__translate {
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.learn-card__original {
  border-radius: 50%;
  background-color: var(--color-light);
  width: 12rem;
  height: 12rem;
  margin-top: 2rem;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-card__wrapper {
  position: relative;
  height: min(25rem, 80vw);
  width: min(19rem, 65vmin);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--color-black);
}
@media (orientation: landscape) {
  .quiz-card__wrapper {
    height: min(19rem, 70vmin);
    width: min(25rem, 50vw);
  }
}

.quiz-card__answer {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-top: 0;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
}
.quiz-card__answer--hidden {
  background-color: var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
}
.quiz-card__answer--original {
  background-color: var(--color-light);
}

.learn-page__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "card card" "prev next";
  gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100%;
}
@media (orientation: landscape) {
  .learn-page__wrapper {
    grid-template-columns: minmax(auto, 7rem) 1fr minmax(auto, 7rem);
    grid-template-rows: 1fr;
    grid-template-areas: "prev card next";
  }
  .learn-page__wrapper .learn-card__wrapper {
    margin-top: 0;
  }
}

.result-page__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.result-page__close-button svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-secondary);
}
.result-page__close-button:hover svg {
  fill: var(--color-dark);
}

.learn-card__wrapper {
  grid-area: card;
  margin-top: 2rem;
}

.button-nav__wrapper--previous {
  grid-area: prev;
  align-self: end;
}

.button-nav__wrapper--next {
  grid-area: next;
  align-self: end;
}

.button-nav__wrapper, .button-result__wrapper {
  border: none;
  border-radius: 50%;
  width: min(6rem, 25vmin);
  height: min(6rem, 25vmin);
  box-shadow: 0 0 8px 1px var(--color-shadow-light);
}

.button-nav__wrapper {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  margin-inline: 0 1rem;
  justify-self: end;
  cursor: pointer;
}
.button-nav__wrapper--previous {
  justify-self: start;
  margin-inline: 1rem 0;
}
.button-nav__wrapper--previous svg {
  transform-origin: center;
  transform: rotate(180deg);
}
.button-nav__wrapper svg {
  stroke: var(--color-secondary);
  height: min(5rem, 20vmin);
}
.button-nav__wrapper:hover {
  background-color: var(--color-light);
}
.button-nav__wrapper:hover svg {
  stroke: var(--color-black);
}
@media (orientation: landscape) {
  .button-nav__wrapper {
    margin-block: 1rem;
  }
}
@media (min-width: 980px) {
  .button-nav__wrapper {
    margin: 2rem;
  }
}

.button-result__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}
.button-result__wrapper--good {
  justify-self: end;
  background-color: var(--color-good-light);
}
.button-result__wrapper--good path {
  fill: var(--color-good);
}
.button-result__wrapper--good:hover {
  background-color: var(--color-good);
}
.button-result__wrapper--good:hover path {
  fill: var(--color-good-light);
}
.button-result__wrapper--bad {
  justify-self: start;
  background-color: var(--color-bad-light);
}
.button-result__wrapper--bad path {
  fill: var(--color-bad);
}
.button-result__wrapper--bad:hover {
  background-color: var(--color-bad);
}
.button-result__wrapper--bad:hover path {
  fill: var(--color-bad-light);
}

.learn-card__wrapper {
  position: relative;
  height: 25rem;
  width: 19rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--color-black);
}
@media (orientation: landscape) {
  .learn-card__wrapper {
    height: min(19rem, 70vmin);
    width: min(25rem, 50vw);
  }
}

.learn-card__translate {
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.learn-card__original {
  border-radius: 50%;
  background-color: var(--color-light);
  width: 12rem;
  height: 12rem;
  margin-top: 2rem;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-card__wrapper {
  position: relative;
  height: min(25rem, 80vw);
  width: min(19rem, 65vmin);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--color-black);
}
@media (orientation: landscape) {
  .quiz-card__wrapper {
    height: min(19rem, 70vmin);
    width: min(25rem, 50vw);
  }
}

.quiz-card__answer {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-top: 0;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
}
.quiz-card__answer--hidden {
  background-color: var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
}
.quiz-card__answer--original {
  background-color: var(--color-light);
}

.quiz-page__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 3fr 8rem;
  grid-template-areas: "progress progress" "question question" "card card" "bad good";
  gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100%;
}
@media (orientation: landscape) {
  .quiz-page__wrapper {
    grid-template-rows: minmax(auto, 25%) auto minmax(auto, 25%);
    grid-template-columns: minmax(auto, 10rem) auto minmax(auto, 10rem);
    grid-template-areas: "progress . ." "progress card question" "bad . good";
  }
}
@media (max-height: 450px) {
  .quiz-page__wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "progress card question" "bad card good";
  }
}

@media (min-width: 980px) {
  .quiz-page__progress {
    padding-inline: 2rem;
  }

  .button-result__wrapper {
    margin: 2rem;
  }
}
.quiz-page__progress {
  grid-area: progress;
  width: 100%;
  max-width: 25rem;
  align-self: start;
  padding-inline: 1rem;
  margin-top: 1.5rem;
}
@media (orientation: landscape) {
  .quiz-page__progress {
    margin-top: 1rem;
    padding-right: 0rem;
  }
}
@media (max-width: 450px) {
  .quiz-page__progress {
    width: calc(100% - 7rem);
    margin-inline: 1.5rem;
  }
}

.quiz-page__question {
  grid-area: question;
  color: var(--color-black);
  font-size: 4rem;
  align-self: end;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-page__question--original {
  background-color: var(--color-light);
}
@media (orientation: landscape) {
  .quiz-page__question {
    align-self: start;
    justify-self: center;
    margin-right: 2vw;
    margin-top: 2rem;
  }
}

.quiz-page__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
}
.quiz-page__close-button svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-secondary);
}
.quiz-page__close-button:hover svg {
  fill: var(--color-dark);
}
@media (orientation: landscape) {
  .quiz-page__close-button {
    top: 0.5rem;
    right: 0.5rem;
  }
}
@media (max-height: 450px), (max-width: 450px) {
  .quiz-page__close-button {
    top: 0.25rem;
    right: 0.25rem;
  }
  .quiz-page__close-button svg {
    fill: var(--color-light);
  }
}

.quiz-card__wrapper {
  grid-area: card;
}
@media (orientation: portrait) {
  .quiz-card__wrapper {
    align-self: start;
  }
}

.button-result__wrapper {
  align-self: end;
}

.button-result__wrapper--bad {
  grid-area: bad;
  justify-self: start;
}

.button-result__wrapper--good {
  grid-area: good;
  justify-self: end;
}

.quiz-progress__wrapper {
  display: flex;
  flex-direction: column;
}
@media (orientation: landscape) {
  .quiz-progress__wrapper {
    flex-direction: column-reverse;
  }
  .quiz-progress__wrapper .quiz-progress__info-wrapper {
    justify-content: flex-start;
  }
}

.quiz-progress__info-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.quiz-progress__info {
  color: var(--color-secondary);
}

.quiz-progress__wrapper {
  width: 100%;
}

.quiz-progress__bar-wrapper {
  height: 1rem;
  width: 100%;
  margin-block: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-light);
}

.quiz-progress__bar {
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--color-secondary);
}

.result-page__wrapper {
  display: grid;
  grid-template-rows: auto minmax(25%, 1fr) auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "reset close" "score score" "details details";
  min-height: 100%;
}
.result-page__wrapper .quiz-score__wrapper {
  grid-area: score;
  grid-row: 1/3;
}

.result-page__button {
  margin: 1rem;
}
.result-page__button svg {
  height: 2rem;
  width: 2rem;
}
.result-page__button--restart {
  grid-area: reset;
}
.result-page__button--restart svg {
  fill: var(--color-dark);
}
.result-page__button--close {
  grid-area: close;
  justify-self: end;
}
.result-page__button--close svg {
  fill: var(--color-secondary);
}

.result-page__details-wrapper {
  grid-area: details;
}
@media (min-width: 800px) {
  .result-page__details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .result-page__details-wrapper .result-page__details-header {
    grid-column: 1/-1;
  }
  .result-page__details-wrapper .result-item__wrapper {
    border-inline: 1px solid var(--color-light);
  }
}

.result-page__details-header {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-dark);
  stroke: var(--color-dark);
  background-color: var(--color-light);
  border: none;
  font-size: 2rem;
  padding-block: 0.75rem;
}
.result-page__details-header svg {
  width: 2rem;
  height: 2rem;
  margin-inline: 1rem;
}
.result-page__details-header span {
  flex-grow: 1;
  margin-right: 4rem;
}
.result-page__details-header--active {
  background-color: var(--color-dark);
  color: var(--color-white);
  stroke: var(--color-white);
}
.result-page__details-header--active svg {
  transform: rotate(90deg);
}

.quiz-score__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-score__number {
  font-size: 2rem;
  color: var(--color-dark);
}

.quiz-score__stars {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.quiz-score__stars svg {
  height: 2rem;
  width: 2rem;
}
.quiz-score__stars path {
  fill: var(--color-secondary);
}

.result-item__wrapper {
  display: grid;
  grid-template-columns: minmax(4rem, 30%) 1fr auto 1fr minmax(4rem, 30%);
  align-items: center;
  justify-content: center;
  padding-block: 0.25rem;
  border-block: 1px solid var(--color-light);
}

.result-item__icon {
  justify-self: end;
  width: 2rem;
  margin-inline: 0.5rem;
}
.result-item__icon svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-secondary);
}
.result-item__icon--bad svg {
  fill: var(--color-bad-dark);
}

.result-item__text {
  flex-grow: 1;
  font-size: 2rem;
  margin-right: 3.5rem;
  color: var(--color-dark);
  text-align: center;
  display: contents;
}
.result-item__text--bad {
  color: var(--color-bad-dark);
}
.result-item__text span {
  margin-inline: 0.25rem;
  min-width: 1ch;
}
.result-item__text span:first-child {
  justify-self: end;
}
.result-item__text span:last-child {
  justify-self: start;
}

.settings-page__wrapper {
  max-width: 100vw;
}

.settings-page__header {
  padding: 1rem;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
}
.settings-page__header h3 {
  margin: 0 -2.5rem 0 0;
  font-size: 2rem;
  text-align: center;
  flex-grow: 1;
}

.settings-page__close-button {
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
}
.settings-page__close-button svg {
  height: 1.5rem;
  width: 1.5rem;
}
.settings-page__close-button path {
  fill: var(--color-secondary);
}
.settings-page__close-button:hover path {
  fill: var(--color-dark);
}

.settings-page__list {
  margin: 0;
  padding: 0;
}

.settings-page__list-item {
  list-style: none;
}

.settings-page__section-header {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  margin: 2px 0;
  padding: 0.75rem;
  text-align: center;
  background-color: var(--color-light);
  color: var(--color-dark);
  stroke: var(--color-dark);
  font-size: 2rem;
  cursor: pointer;
}
.settings-page__section-header svg {
  width: 2rem;
  height: 2rem;
  margin-inline: 1rem;
}
.settings-page__section-header span {
  flex-grow: 1;
  margin-right: 4rem;
}
.settings-page__section-header--active {
  background-color: var(--color-dark);
  color: var(--color-white);
  stroke: var(--color-white);
}
.settings-page__section-header--active svg {
  transform: rotate(90deg);
}
.settings-page__section-header:disabled {
  color: var(--color-secondary);
  stroke: var(--color-secondary);
}

.learn-options__header {
  color: var(--color-dark);
  font-size: 1.75rem;
  text-align: center;
}

.symbols-list__wrapper {
  display: flex;
  margin-bottom: 1rem;
}
.symbols-list__wrapper--grid {
  display: grid;
  gap: 0.5rem;
}

.symbols-list__select-button {
  justify-self: start;
  align-self: start;
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  stroke: var(--color-secondary);
}
.symbols-list__select-button svg {
  width: 1rem;
  height: 1rem;
}
.symbols-list__select-button:hover {
  background-color: var(--color-secondary);
  stroke: var(--color-white);
}
.symbols-list__select-button--row {
  grid-column: 1;
  height: 3.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.symbols-list__select-button--all {
  grid-column: 2/-1;
  width: calc(100% - 0.5rem);
  height: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
}
.symbols-list__select-button--all div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.symbols-list__select-button--all svg {
  transform: rotate(90deg);
}

.symbol-toggle__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-secondary);
}
.symbol-toggle__wrapper--enabled {
  color: var(--color-black);
}
.symbol-toggle__wrapper--enabled .symbol-toggle__original {
  background-color: var(--color-light);
}

.symbol-toggle__original {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-light);
  font-size: 2rem;
  cursor: pointer;
}

.symbol-toggle__translate {
  font-size: 1.25rem;
}

.select-course__list {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.select-course__list-item {
  list-style: none;
  border-bottom: 1px solid var(--color-secondary);
  cursor: pointer;
  display: flex;
}
.select-course__list-item:last-child {
  border-bottom: none;
}

.select-course__button {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: inherit;
  cursor: pointer;
}
.select-course__button svg {
  margin-right: 2.5rem;
  height: 1.5rem;
  justify-self: end;
}
.select-course__button span {
  justify-self: start;
}
.select-course__button path {
  fill: var(--color-dark);
}
.select-course__button:hover {
  background-color: var(--color-light);
}
.select-course__button--active {
  font-weight: bold;
}
.select-course__button--download {
  color: var(--color-secondary);
}
.select-course__button--download svg {
  height: 2.5rem;
  margin-right: 1.75rem;
}
.select-course__button--download path {
  fill: var(--color-secondary);
}
.select-course__button--update {
  grid-template-columns: auto;
  width: 4rem;
  margin-left: -4rem;
  padding-inline: 0.5rem;
  background-color: var(--color-secondary);
}
.select-course__button--update path {
  fill: var(--color-white);
}
.select-course__button--update:hover {
  background-color: var(--color-dark);
}

.quiz-options__wrapper {
  font-size: 1.75rem;
  color: var(--color-dark);
}

.quiz-options__section {
  border-bottom: 1px solid var(--color-secondary);
  text-align: center;
}
.quiz-options__section--cards {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}
.quiz-options__section--cards span {
  grid-column: 1/-1;
}
.quiz-options__section:last-child {
  border-bottom: none;
}

.quiz-options__checkbox {
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: inherit;
  cursor: pointer;
}
.quiz-options__checkbox svg {
  height: 1.5rem;
  justify-self: end;
  margin-right: 2rem;
}
.quiz-options__checkbox path {
  fill: var(--color-dark);
}
.quiz-options__checkbox span {
  justify-self: start;
}
.quiz-options__checkbox:hover {
  background-color: var(--color-light);
}
.quiz-options__checkbox--active {
  font-weight: bold;
}
@media (max-width: 400px) {
  .quiz-options__checkbox {
    grid-template-columns: auto 1fr;
  }
}

.quiz-options__button {
  margin: 0.5rem 2rem 1rem 2rem;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-size: inherit;
  cursor: pointer;
}
.quiz-options__button--active {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.quiz-options__button:hover {
  background-color: var(--color-secondary);
}

.quiz-options__exclude-header {
  display: block;
  margin-block: 0.5rem 0.25rem;
}

.theme-options__wrapper {
  font-size: 1.75rem;
}

.theme-options__section {
  border-bottom: 1px solid var(--color-secondary);
  text-align: center;
}
.theme-options__section:last-child {
  border-bottom: none;
}

.select-color__list {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.select-color__list-item {
  list-style: none;
  border-bottom: 1px solid var(--color-secondary);
  cursor: pointer;
}
.select-color__list-item:last-child {
  border: none;
}

.select-color__button {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.75rem 2rem;
  border: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: inherit;
  cursor: pointer;
}
.select-color__button svg {
  margin-right: 2.5rem;
  height: 1.5rem;
  justify-self: end;
}
.select-color__button span {
  justify-self: start;
}
.select-color__button path {
  fill: var(--color-dark);
}
.select-color__button:hover {
  background-color: var(--color-light);
}
.select-color__button:hover .colors-preview__color {
  border-block-style: solid;
}
.select-color__button:hover .colors-preview__color:first-child {
  border-left-style: solid;
}
.select-color__button:hover .colors-preview__color:last-child {
  border-right-style: solid;
}

.colors-preview__wrapper {
  display: flex;
  align-items: center;
}

.colors-preview__color {
  height: 2rem;
  width: 4rem;
  border-style: none;
  border-width: 1px;
}
.colors-preview__color:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.colors-preview__color:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.theme-options__checkbox {
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: inherit;
  cursor: pointer;
}
.theme-options__checkbox svg {
  height: 1.5rem;
  justify-self: end;
  margin-right: 2rem;
}
.theme-options__checkbox path {
  fill: var(--color-dark);
}
.theme-options__checkbox span {
  justify-self: start;
}
.theme-options__checkbox:hover {
  background-color: var(--color-light);
}
.theme-options__checkbox--active {
  font-weight: bold;
}

.select-language__list {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.select-language__list-item {
  list-style: none;
  border-bottom: 1px solid var(--color-secondary);
}

.select-language__button {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: inherit;
  cursor: pointer;
}
.select-language__button svg {
  margin-right: 2.5rem;
  height: 1.5rem;
  justify-self: end;
}
.select-language__button span {
  justify-self: start;
}
.select-language__button path {
  fill: var(--color-dark);
}
.select-language__button--active {
  font-weight: bold;
}
.select-language__button:hover {
  background-color: var(--color-light);
}

.data-options__wrapper {
  display: grid;
}

.data-options__button {
  margin: 1rem 2rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  color: var(--color-black);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 2rem;
  cursor: pointer;
}
.data-options__button:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.data-options__button--restore {
  background-color: var(--color-light);
  color: var(--color-black);
  margin-top: 2rem;
}
.data-options__button:disabled {
  background-color: var(--color-light);
  color: var(--color-white);
  cursor: not-allowed;
}

.data-options__file-input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.loader__wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  opacity: 0.9;
  animation-name: fadein;
  animation-duration: 0.5s;
}
.loader__wrapper--immediate {
  animation: none;
}

.loader__spinner {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  border: 2vmin solid;
  border-top-color: var(--color-secondary);
  border-right-color: var(--color-secondary);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-left-color: rgba(255, 255, 255, 0.3);
  animation: spin 1s infinite linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.splash-screen__wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}
@media (prefers-color-scheme: dark) {
  .splash-screen__wrapper {
    background-color: var(--color-dark);
  }
}

.splash-screen__spinner {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  border: 2vmin solid;
  border-top-color: var(--color-light);
  border-right-color: var(--color-light);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-left-color: rgba(255, 255, 255, 0.2);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.confirm-dialog__mask,
.info-dialog__mask {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  opacity: 0.95;
}

.confirm-dialog__wrapper,
.info-dialog__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  min-width: min(30ch, 80%);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  font-family: "Noto Sans";
  font-size: 1.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
}

.confirm-dialog__message,
.info-dialog__message {
  grid-column: 1/-1;
  padding-block: 1rem;
  text-align: center;
  color: var(--color-dark);
  font-size: inherit;
}

.confirm-dialog__button,
.info-dialog__button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: inherit;
  cursor: pointer;
  box-shadow: 0 2px 4px 0px var(--color-shadow-light);
}
.confirm-dialog__button:hover,
.info-dialog__button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.confirm-dialog__button--confirm,
.info-dialog__button--confirm {
  grid-column: 1;
  background-color: var(--color-dark);
  color: var(--color-white);
}
.confirm-dialog__button--cancel,
.info-dialog__button--cancel {
  grid-column: 2;
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

.info-dialog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.info-dialog__button {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding-inline: 2rem;
}

.statistics-page__course-title {
  text-align: center;
  color: var(--color-dark);
}

.statistics-page__table {
  margin-inline: auto;
  margin-bottom: 1rem;
  border-collapse: collapse;
  color: var(--color-black);
}
.statistics-page__table th {
  padding: 0.25rem 0.5rem;
  background-color: var(--color-light);
  border: 1px solid var(--color-secondary);
}
.statistics-page__table td {
  text-align: center;
  border: 1px solid var(--color-secondary);
}

.statistics-page__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.statistics-page__close-button svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-secondary);
}
.statistics-page__close-button:hover svg {
  fill: var(--color-dark);
}

:root {
  --color-black: hsl(215, 60%, 20%);
  --color-dark: hsl(215, 60%, 30%);
  --color-secondary: hsl(215, 60%, 80%);
  --color-light: hsl(215, 60%, 97%);
  --color-white: hsl(0, 100%, 100%);
  --color-shadow: Hsla(215, 60%, 0%, .3);
  --color-shadow-light: Hsla(215, 60%, 0%, .15);
  --color-good: hsl(128, 50%, 80%);
  --color-good-light: hsl(128, 50%, 90%);
  --color-bad: hsl(0, 50%, 80%);
  --color-bad-light: hsl(0, 50%, 90%);
  --color-bad-dark: hsl(0, 50%, 50%);
}

* {
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

button {
  font-family: "Noto Sans JP", sans-serif;
}

main {
  margin-inline: auto;
  background-color: var(--color-white);
  max-width: 800px;
  width: 100%;
}

h3 {
  font-weight: 400;
}

.layout__wrapper {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  background-color: var(--color-white);
}
@media (min-height: 950px), (min-width: 950px) {
  .layout__wrapper {
    background-color: var(--color-light);
    padding-block: 5vh;
    padding-inline: min(5%, 5vw);
  }
  .layout__wrapper main {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem 0.1rem var(--color-shadow-light);
  }
}
.layout__wrapper--hidden {
  background-color: var(--color-secondary);
}
@media (prefers-color-scheme: dark) {
  .layout__wrapper--hidden {
    background-color: var(--color-dark);
  }
}
.layout__wrapper--hidden main {
  visibility: hidden;
}
