@page "/"

<PageTitle>Main menu</PageTitle>

<div class="index-page__wrapper">

    <a href="/learn" class="index-page__button">
        learn
    </a>

    <a href="/quiz" class="index-page__button">
        quiz
    </a>

    <a href="/options" class="index-page__button">
        options
    </a>


@*    <button @onclick="()=>LoaderHelper.ShowLoader()">show</button>
    <button @onclick="LoaderHelper.HideLoader">hide</button>
*@

</div>

@code {
    [CascadingParameter] LoaderHelper LoaderHelper { get; set; }

}