@page "/results/{QuizId}"
@inject IQuizService quizService

<h3>Results Page</h3>

QuizId: @QuizId

@if (cards is not null)
{
    @foreach (var card in cards)
    {
        <div>
            <span>@card.Original </span>
            <span>(@card.Translate): </span>
            <span>@card.Result</span>
        </div>
    }
}

<a href="/">Main menu</a>

@code {
    [Parameter] public string QuizId { get; set; }

    List<QuizCardViewModel> cards;

    protected override async Task OnInitializedAsync()
    {
        var session = await quizService.GetQuizAsync(QuizId);
        cards = session.Cards;
    }
}
