
<div class="card-browse__wrapper">

    <div class="card-browse__translate">
        @Symbol.Translate
    </div>

    <div class="card-browse__original">
        @Symbol.Original
    </div>

</div>

@code {
    [Parameter] public SymbolViewModel Symbol{ get; set; }
}
