@inject IStringLocalizer<Resource> localizer

<div class="data-options__wrapper">

    <button class="data-options__button" @onclick="HandleExportClick" disabled>
        @localizer["Res_Export"]
    </button>

    <button class="data-options__button" @onclick="HandleImportClick" disabled>
        @localizer["Res_Import"]
    </button>

    <button class="data-options__button data-options__button--restore" @onclick="HandleRestoreDefaultsClick">
        @localizer["Res_RestoreDefaults"]
    </button>

</div>

@code {
    [Parameter] public EventCallback OnExport { get; set; }
    [Parameter] public EventCallback OnImport { get; set; }
    [Parameter] public EventCallback OnRestoreDefaults { get; set; }

    async Task HandleExportClick() => await OnExport.InvokeAsync();
    async Task HandleImportClick() => await OnImport.InvokeAsync();
    async Task HandleRestoreDefaultsClick() => await OnRestoreDefaults.InvokeAsync();
}
