
<div class="learn-card__wrapper">

    <div class="learn-card__translate">
        @Symbol.Translate
    </div>

    <div class="learn-card__original">
        @Symbol.Original
    </div>

</div>

@code {
    [Parameter] public SymbolViewModel Symbol{ get; set; }
}
