
<div class="@cssWrapper">

    <div class="loader__spinner">
    </div>

</div>

@code {
    [CascadingParameter] LoaderHelper loaderHelper { get; set; }

    string cssWrapper => loaderHelper?.IsImmediate == true ? "loader__wrapper loader__wrapper--immidiate" : "loader__wrapper";
}
