
<div class="quiz-card__wrapper">

    <div class="@css" @onclick="OnClick">

        @if (AnswerVisible)
        {
            @Answer
        }
        else
        {
            <span>?</span>
        }

    </div>

</div>

@code {
    [Parameter] public string Answer { get; set; } = string.Empty;
    [Parameter] public bool AnswerOriginal { get; set; }
    [Parameter] public bool AnswerVisible { get; set; }
    [Parameter] public EventCallback<bool> AnswerVisibleChanged { get; set; }

    string cssText => "quiz-card__text";

    string cssTextVisible => AnswerOriginal ? "quiz-card__answer--original" : "";
    string css => AnswerVisible ? $"quiz-card__answer {cssTextVisible}" : "quiz-card__answer quiz-card__answer--hidden";

    async Task OnClick()
    {
        AnswerVisible = true;
        await AnswerVisibleChanged.InvokeAsync(AnswerVisible);
    }
}
