
<div class="result-item__wrapper">

    <div class="result-item__icon">
        @if (Card.Result == false)
        {
            <SvgIcon SvgUrl="/assets/bad-ico.svg" />
        }
    </div>

    <div class="@cssText">
        <span>@Card.Question</span>
        <span> 🠖 </span>
        <span>@Card.Answer</span>
    </div>

</div>

@code {
    [Parameter] public QuizItemViewModel Card { get; set; }

    string cssText => Card.Result == true
        ? "result-item__text"
        : "result-item__text result-item__text--bad";
}
